@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	--body-bg: #8d99ae;
	--add-book-bg: #2b2d42;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	background-color: var(--body-bg);
	color: white;
	overflow-x: hidden;
	padding: 0.8rem;
}

nav {
	height: 10vh;
}

.grid-container {
	margin-top: 1rem;
	min-height: 90vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 20vh));
	grid-template-rows: repeat(auto-fit, 175px);
	gap: 0.5rem;
	font-size: 0.6rem;
}

.grid-element {
	padding: 1rem 0.8rem;
	background-color: #2b2d42;
	border-radius: 6px;
	word-break: break-all;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.grid-element button:nth-of-type(1),
.grid-element button:nth-of-type(2) {
	border: 0;
	border-radius: 5px;
	padding: 0.4rem 1rem;
	font-size: 0.5rem;
	font-weight: bold;
	cursor: pointer;
}

.grid-element button:nth-of-type(1) {
	margin-top: auto;
}

.grid-element button:nth-of-type(2) {
	background-color: #d90429;
	color: white;
}

.modal {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
	border: 0;
	border-radius: 4px;
	text-align: center;
	background-color: var(--add-book-bg);
	padding: 1rem 0.8rem;
	font-size: 0.7rem;
	color: white;
}

.modal::backdrop {
	background-color: rgba(0, 0, 0, 0.4);
}

.add-book {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.add-book h2 {
	font-size: 1rem;
}

.add-book input,
.add-book button[type='submit'] {
	border: none;
	border-radius: 4px;
	padding: 0.4rem;
	font-size: 0.8rem;
	font-family: 'Roboto', sans-serif;
}

.add-book button[type='submit'] {
	background-color: #d90429;
	color: white;
	font-size: 0.7rem;
	font-weight: 600;
}

.checkbox-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.6rem;
}

.open-button {
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
	height: 30px;
	width: 30px;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
}
